*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'cormorant sc', serif;
}
a{
    text-decoration: none;
}

:root{
    --White-Text: #ffffff;
    --Black-Text: #000000;
    --Dark-Blue: #004E7C;
    --Maroon: #591C0B;
    --Book-Card-Background-Color: #D9D9D9;
    --Background-color: #DCE1E3;
    --Details-Page-Description-Box: #ADAFAB;
    --Book-Details-box:#FFFFFF;
    --Text-Font: font-family: 'Cormorant SC', serif;
    --Text-Style: font-style: italic;
}

/**************** Default Styles ****************/

/*** header ***/

header{
    background-color: var(--Dark-Blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header a {
    color: var(--White-Text)
}

.header-title{
    display: flex;
    gap: 3px;
    margin-left: 20px;
    color: var(--White-Text);
}

.header-title img{
    width: 35px;
    height: 35px;   
    
    
}

.header-nav a{
    color: var(--White-Text);
    margin-right: 20px;
    font-size: 20px;
}

.menu-container{
    display: none;
}

/** main content **/

.content-container{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
   /** height: calc(100vh - 160px);**/ /** Please dont activate this function, the footer will blend in mobile query **/
    
}

.content-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: -100px;
    padding-bottom: 100px;

}
.content-nav h2 {
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
}
.content-nav p{
    font-size: 20px;
    font-weight: 400;
    color: #591C0B;
}

span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

span input{
    height: 40px;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 800;
}

span img{
    width: 50px;
    height: 50px;
    margin-left: -45px;
    margin-top: 4.5px;
    transition: 0.60s;
    
}

span img:hover{
    transform: scale(0.9);
}

#searchImg{
    
    align-self: flex-end;
    width: 300px;
    height: 300px;
    /* margin-top: -70px; */
    margin-right: 40px;

}

#bookStacks{
    width: 400px;
    padding-top: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}


/** footer **/

footer{
    height: 80px;
    background-color: var(--Maroon);
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--White-Text);
    padding-right: 20px;
    
}

footer p{
    margin: auto;
    padding-left: 190px;
}

footer img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}


/** media query tablet**/
@media (max-width: 768px) {
    #searchImg{
        align-self: center;
        margin-bottom: 150px;
        margin-left: 35px;
        padding-bottom: 10px;
        
    }


    #bookStacks{
        align-self: center;
        margin: -100px 30px 30px 0px;
    }

    span input{
        width: 70%;
    }

    footer p{
        margin-left: 10px;
    }
    
}


/** media query mobile **/
@media (max-width: 428px){

    .header-title{
        margin: auto;
    }

    .header-nav{
        display: none;
    }

    .mobile-menu{
        display:flex;
        flex-direction: column;
        justify-content: end;
        margin: 140px -40px 0px 0px;
        padding: 20px 20px 20px 10px;
        background-color: var(--Dark-Blue);
        row-gap: 10px;
        

    }



    .menu-container{
        display: block;
        font-size: 30px;
        color: var(--White-Text);
    }

    #searchImg{
        width: 250px;
        height: 250px;
    }

    #bookStacks{
        width: 300px;
    }

    .content-nav h2{
        font-size: 40px;
    }

    span input{
        width: 80%;
        font-size: 14px;
    }

    .content-nav p{
        margin: 0 20px;
        font-size: 20px;
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 110px;
        
    }

    footer p{
        margin: 0px 0px 5px -160px;
        align-self: center;
        
    }
}