body{
    background-color: #DCE1E3;
}

span img{
    margin-bottom: 4.5px;
}
.content-nav img{
    cursor: pointer;
}

#search-results{
    background-color: var(--Background-color);
    height: auto;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    gap: 40px;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid blue; */
    width: auto;
}

.card{
    /* background-color: var(--Book-Card-Background-Color); */
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    background-color: #ADAFAB;
    /* border: 2px solid purple; */
}

.card-img{
    height: 100%;
}

.card-img img{
    width: 220px;
    height: 100%;
    border-radius: 10px;
}


.card-details h3{
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: black;
    align-items: center;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.card-details{
    /* align-self: start; */
    font-family: 'Sedan SC';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #004E7C;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 20px; */
    /* margin-left: 10px; */
    padding-left: 2%;
    width: 100%;
    height: 100%;
}

.card-details button{
    font-family: 'Sedan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 70%;
    height: 33px;
    border: none;
    background: #004E7C;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.60s;
}

.card-details button:hover{
    transform: scale(0.9);
}

.card-details span{
    width: auto;
    font-family:'Times New Roman', Times, serif;
    /* font-style: italic; */
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,minmax(300px,1fr));
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -50px;
    }

    .card{
        width: 100%;
        height: 300px;
    }

    .card-img img{
        width: 150px;

    }

    .card-details{
        row-gap: 8px;
        height: 100%;
        text-align: start;
        padding: 5px;
    }

    .card-details button{
        width: 85%;
    }
}

@media screen and (max-width: 428px) {
    
    .header-title{
        margin: auto;
    }

    .header-nav{
        display: none;
    }

    .mobile-menu{
        display:flex;
        flex-direction: column;
        justify-content: end;
        margin: 140px -40px 0px -77px;
        padding: 20px 20px 20px 10px;
        background-color: var(--Dark-Blue);
        row-gap: 10px;
        z-index: 1;
        
    }
   
   
   
    /**.card-container{
        display: grid;
        grid-template-columns: 1fr;
    }**/

    .card-container{
        display: flex;
        flex-direction: column;
    }

    .card{
        height: 250px;
    }



    footer{
        display: flex;
        flex-direction: column-reverse;
        
    }

    footer p{
        margin: 0px 0px 5px -160px;
        align-self: center;
        
    }
}
